<div class="jumbotron text-center">
	<h1>Welcome to Opus!</h1>

	<div ng-if="!main.loggedIn">
		<p>Login to manage users.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage your users.</p>
		<a href="/users" class="btn btn-primary">View Users</a>
	</div>
</div>

<div class="jumbotron text-center">
	<h3>Opus News</h3>
<p>
Opus Group LLC. has been voted best company to work for by James and associates, a consulting firm. Congratuations Opus!
</p>

</div>





<div class="row">
  <div class="col-sm-6 col-md-4">
  <div class="thumbnail">
<a href="https://sso.insperity.com/SSOServer/PassiveSts.aspx?wa=wsignin1.0&wtrealm=urn%3asp.FatwireApplication&wreply=https://esc.insperity.com/home/index.html&wct=Mon%20Apr%2028%2013:29:44%20CDT%202014" role="button">
      <img src="/assets/images/Insperity_logo_2013_256x142.png" alt="Insperity Logo"></a>
      
    </div>  
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail deltek">
     <a href="https://teprod05.deltekfirstessentials.com/DeltekTC/welcome.msv"  role="button">
		<img src="/assets/images/product_deltek-branding.jpg" alt="deltek image"></a>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://opusgroupllc.slack.com/" role="button"><img src="/assets/images/slack.jpg" alt="..."></a>
      
    </div>
  </div>
</div>
<div class = "row">
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="http://www.nationwide.com/401k-retirement-plans.jsp"  role="button"><img src="/assets/images/nationwide.png" alt="..."></a>
     
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://www.facebook.com/pages/Opus-Group-LLC/1522358471310148"  role="button"><img src="/assets/images/facebook.jpg" alt="facebook Logo"></a>
     
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://twitter.com/opusgroupllc"  role="button"><img src="/assets/images/twitterLogo.jpg" alt="Twitter Image"></a>
      
    </div>
  </div>
</div>

<div class = "row">
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <a href="https://chj.tbe.taleo.net/chj06/ats/login.jsp"  role="button"><img src="/assets/images/taleo.jpg" alt="..."></a>
      
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://login.salesforce.com/" role="button"><img src="/assets/images/salesforce.png" alt="..."></a>
     
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://www.linkedin.com/company/opus-group-llc" role="button"><img src="/assets/images/linkedIn.png" alt="..."></a>
      
    </div>
  </div>

</div>
<div class = "centered row">
 <div class="thumbnail">
      <a href="https://drive.google.com/a/opusgroupllc.com/folderview?id=0B1HUhMdQYOOTS3UwZUM3cUR4cTQ&usp=sharing_eid" role="button"><img src="/assets/images/opusLogo.png" alt="Quality Manual"></a>
     
    </div>

</div>
