<div class="jumbotron text-center">
	<h1>Welcome to Opus!</h1>

	<div ng-if="!main.loggedIn">
		<p>Login to see manage your users.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage your users.</p>
		<a href="/users" class="btn btn-primary">View Users</a>
	</div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.insperityinvitational.com/uploads/2013/03/medium/Insperity_logo_2013_256x142.png" alt="Insperity Logo">
      <div class="caption">
        <h3>Insperity</h3>
        <p>Here is the insperty portal</p>
        <p><a href="https://sso.insperity.com/SSOServer/PassiveSts.aspx?wa=wsignin1.0&wtrealm=urn%3asp.FatwireApplication&wreply=https://esc.insperity.com/home/index.html&wct=Mon%20Apr%2028%2013:29:44%20CDT%202014" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/product_deltek-branding.jpg" alt="deltek image">
      <div class="caption">
        <h3>TimeSheets</h3>
        <p>Here is the DelTek portal</p>
        <p><a href="https://teprod05.deltekfirstessentials.com/DeltekTC/welcome.msv" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/slack.jpg" alt="...">
      <div class="caption">
        <h3>Opus Slack Page</h3>
        <p>Here is the Opus Slack portal</p>
        <p><a href="https://opusgroupllc.slack.com/" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class = "row">
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/nationwide.png" alt="...">
      <div class="caption">
        <h3>Nationwide 401k Plans</h3>
        <p>Here is the Opus Slack portal</p>
        <p><a href="http://www.nationwide.com/401k-retirement-plans.jsp" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/facebook.jpg" alt="facebook Logo">
      <div class="caption">
        <h3>Facebook</h3>
        <p>Opus Facebook Page</p>
        <p><a href="https://www.facebook.com/pages/Opus-Group-LLC/1522358471310148" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/twitterLogo.jpg" alt="...">
      <div class="caption">
        <h3>Opus Twitter Page</h3>
        <p>Here is the Opus Twitter Page</p>
        <p><a href="https://twitter.com/opusgroupllc" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div class = "row">
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/taleo.jpg" alt="...">
      <div class="caption">
        <h3>Taleo</h3>
        <p>Here is the Taleo Page</p>
        <p><a href="https://chj.tbe.taleo.net/chj06/ats/login.jsp" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/salesforce.png" alt="...">
      <div class="caption">
        <h3>Salesforce</h3>
        <p>Opus SalesForce Page</p>
        <p><a href="https://login.salesforce.com/" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/linkedIn.png" alt="...">
      <div class="caption">
        <h3>Opus Linkedin Page</h3>
        <p>Here is the Opus Linkedin Page</p>
        <p><a href="https://www.linkedin.com/company/opus-group-llc" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>



<!--  

Here is nationwide 401k: http://www.nationwide.com/401k-retirement-plans.jsp

Here is Opus Facebook: https://www.facebook.com/pages/Opus-Group-LLC/1522358471310148

Here is Opus Twitter: https://twitter.com/opusgroupllc

Here is Opus Taleo: https://chj.tbe.taleo.net/chj06/ats/login.jsp

Here is Opus Salesforce: https://login.salesforce.com/

Here is Opus Linkedin: https://www.linkedin.com/company/opus-group-llc

Gmail: www.gmail.com


-->